<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>COVID19 pathway workshop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@13.2.0/dist/primer.css" />  <!--Use full Primer.style static CDN-->
    <div style="text-align: center">
      <hr/>
      <a href="https://bigcat-covid19.github.io/Workshop-July2022/"><img align="center" style="width:60%;" id="image" src="https://www.maastrichtuniversity.nl/sites/default/files/styles/full_width_image/public/workshop.png?itok=-YedSAfG"></a>
    </div>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>
  </body>
</html>

